[user]
	name = Mickael Gerard
	email = mikarun@gmail.com
[color]
	ui = auto
[mergetool]
	keepBackup = true
[alias]
  st = status
  co = checkout
  cm = commit -m
  cma = !git add -A && git commit -m
  up = !git pull --rebase --prune $@
  # clean branch merged on master
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
  plog =  log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
  whitespace = trailing-space,space-before-tab
	editor = /usr/local/bin/vim
[apply]
  #whitespace = trailing-space,space-before-tab
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
